body {
  background: black;
}
h1 {
  color: black;
  background-color: whitesmoke;
  text-align: left;
  font-family: cursive;
}
.contanier {
  border: solid white 1px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border: solid whitesmoke;
  background-color: whitesmoke;
  cursor: pointer;
}
.btns:hover {
  transition: 2s;
  background-color: green;
}

.tag {
  padding: 50px;
}
.text-box {
  border: white;
  height: 500px;
  padding: 50px;
  text-align: center;
}

img {
  text-align: center;
  padding: 10px;
  height: 400px;
  text-align: center;
}
